/*                                                    */
/*  Javascript Calendar                               */
/*                                                    */

.cpYearNavigation,
.cpMonthNavigation{
	background-color:#6677DD;
	text-align:center;
	vertical-align:center;
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
}
.cpDayColumnHeader,
.cpYearNavigation,
.cpMonthNavigation,
.cpCurrentMonthDate,
.cpCurrentMonthDateDisabled,
.cpOtherMonthDate,
.cpOtherMonthDateDisabled,
.cpCurrentDate,
.cpCurrentDateDisabled,
.cpTodayText,
.cpTodayTextDisabled,
.cpText{
	font-family:arial;
	font-size:8pt;
}
TD.cpDayColumnHeader{
	text-align:right;
	border:none;
	font-weight:bold;
}
.cpCurrentMonthDate,
.cpOtherMonthDate,
.cpCurrentDate{
	text-align:right;
	text-decoration:none;
}
.cpCurrentMonthDateDisabled,
.cpOtherMonthDateDisabled,
.cpCurrentDateDisabled{
	color:#D0D0D0;
	text-align:right;
	text-decoration:line-through;
}
.cpCurrentMonthDate{
	color:#6677DD;
	font-weight:bold;
}
.cpCurrentDate{
	color: #FFFFFF;
	font-weight:bold;
}
.cpOtherMonthDate{
	color:#808080;
}
TD.cpCurrentDate{
	color:#FFFFFF;
	background-color: #6677DD;
	border-width:1;
	border:solid thin #000000;
}
TD.cpCurrentDateDisabled{
	border-width:1;
	border:solid thin #FFAAAA;
}
TD.cpTodayText,
TD.cpTodayTextDisabled{
	border:none;
	font-weight:bold;
}
A.cpTodayText,
SPAN.cpTodayTextDisabled{
	height:20px;
}
A.cpTodayText
{
	color:#6677DD;
	font-weight:bold;
}
SPAN.cpTodayTextDisabled{
	color:#D0D0D0;
}
.cpBorder{
	border:solid thin #6677DD;
}
#datepicker{
	position:absolute;
	overflow:hidden;
	background-color:white;
	layer-background-color:white;
}
/*ugly fix for IE6*/
#datepicker iframe{
	display:none;
}
* html #datepicker iframe{
	display/**/:block;/*sorry for IE5*/
	position:absolute;/*must have*/
	top:0;/*must have*/
	left:0;/*must have*/
	z-index:-1;/*must have*/
	filter:mask();/*must have*/
	width: 2000px;/*must have for any big value*/
	height: 2000px;/*must have for any big value*/;
}

