/*                                                    */
/* PLEASE ADJUST to match your layout                 */
/*                                                    */

label.secq 		{ width:200px!important; }
input.secinput 	{ width:40px!important; }


/*                                                    */
/* text paragraph & message box right above the form  */
/*                                                    */

p.info 			{ margin:10px 0;	text-align:center; }
p.textonly		{ clear:left; text-align:center; padding:5px; margin:0; }

/*                                                    */
/*  div box enclosing the form                        */
/*                                                    */
.cform			{ margin:10px auto 50px auto; width: 410px; }

/*                                                    */
/* change formatting of response msgs here            */
/*                                                    */
.success 		{ color:green; }
.failure 		{ color:red; }


/*                                                    */
/* upload box styling                                 */
/*                                                    */
.cform input.cf_upload  { background: #f9f9f9; border:1px solid #888888; }

/*                                                    */
/* global definitions for field labels                */
/*                                                    */
span.cformchkboxlabel,
span.cformradiolabel,
.cform label 			{ width:90px; margin:5px 0 0 0; font:normal 11px 'Trebuchet MS',Arial;
				 		 display:block; float:left;  padding-right:10px; clear:left; text-align:right; }

/* just in case the label comes AFTER the field */
label.cformlabelafter 	{ clear:none; width:250px!important; text-align:left; padding:0 0 0 6px; }

/*                                                    */
/*  individual definition of field labels             */
/*                                                    */

/* #cforms2form label	{ color:green; } */


/*                                                    */
/* formating for text:  "(required)"  & other         */
/*                                                    */
span.chckboxtxt,
span.cformradiotext,
span.reqtxt,
span.emailreqtxt 			{ float:left;	margin:5px 0; padding-left:3px; font:normal 11px 'Trebuchet MS',Arial; }

span.cformradiotext 		{ margin:5px 0 0 0!important; }
* html span.cformradiotext  { margin:4px 0 0 0!important; } /* hack:diff margins for IE */


/*                                                    */
/*              FORM FIELDSETS (global defs)          */
/*                                                    */
.cformfieldsets			{ margin:10px 0!important; padding:8px 0 11px 0; border:1px solid #adadad; border-left-color:#ececec; border-top-color:#ececec; }

/*may want to remove the below line if this causes layout issues with your WP Theme*/
* html .cformfieldsets	{ position: relative; margin-top:20px; padding-top:15px; } /*ie6 hack*/



/*etc..*/
.cformfieldset6,
.cformfieldset5,
.cformfieldset4,
.cformfieldset3,
.cformfieldset2,
.cformfieldset1    	{ background:#f7f7f7; } /* use to access fieldsets no. 3 for ALL forms */



/*                                                    */
/*   FORM FIELDSETS for a specific form               */
/*                                                    */
/* #cforms2form .cformfieldset1	{ background:#DFE9FF; } /* specifically address fieldsets #1 on form #2 */


/*                                                    */
/*   FIELDSET legends (global defs)                   */
/*                                                    */
.cform legend         { margin-left:10px; font:normal 20px Times; }

/*may want to remove the below line if this causes layout issues with your WP Theme*/
* html .cform legend  { position:absolute; top: -10px; left: 10px; margin-left:0; } /*ie hack*/



/*                                                    */
/*   FIELDSET legends (specific defs)                 */
/*                                                    */
/*#cforms2form legend   { font:normal 20px Arial; color:gray; } */



/*                                                    */
/*   FORM FIELDS general formatting                   */
/*                                                    */
.cform input,
.cform textarea,
.cform select 			{ font:normal 11px 'Trebuchet MS', Arial; margin:3px 0; padding:1px 3px; float: left; background: #f9f9f9; border: 1px solid #888888; }
.cform input:hover,
.cform textarea:hover,
.cform select:hover		{ background:#CEDDDF; }
.cform input:focus,
.cform textarea:focus,
.cform select:focus		{ background:#F3F8F8; }

.cform input 			{ width:170px; }
.cform select 			{ width:178px; }  /* attempt to have equal length */
.cform textarea			{ width:170px; }

.cform select.cformselectmulti	{ height:84px; }

/* text after radio buttons */
.cfradioblock           { float:left; }
.cfradioblock label     { clear:none; text-align:left; padding-left:5px;}  /*radio button labels are special!*/
input.cformradio		{ margin:6px 0 0 0; width:16px; border:none; clear:left; }
* html input.cformradio	{ margin:3px 0 0 0; background:none; } /* hack:diff margins for IE */

/* Form submit button */
.cform input.sendbutton { width:100px;  padding:2px; margin: 0 0 0 310px; float:none!important;
						  background:url(images/button-bg.gif) repeat-x; border:1px solid #adadad!important; border-left-color:#ececec!important; border-top-color:#ececec!important;}
.cform input.sendbutton:hover { background:#f0f0f0; }

/* optional input fields formatting for ('required' & 'email') */
.fldemail 	 { }
.fldrequired { }

/* checkboxes:override general default layout for input fields */
input.cformchkbox 			{ margin:7px 0 6px 0; width:16px; border:none; }
* html input.cformchkbox	{ margin:3px 0 4px 0; background:none; } /* hack:diff margins for IE */

/* for incorrect input fields */
.cform .error 			{  color:red!important; border:1px solid #FF0000!important; padding:1px 3px; }
.cform .errortxt    	{  color:red!important; }



/*                                                    */
/*                    PROPER BREAKS                   */
/*                                                    */
.cformfieldsets 			{ display:inline-block; }
.cformfieldsets:after 		{ content:".";	display:block;	height:0; clear:left;	visibility:hidden; }
/* Hides from IE-mac \*/
* html .cformfieldsets		{ height:1%; }
.cformfieldsets				{ display:block; }
/* End hide from IE-mac */

.cform 						{ display:inline-block; }
.cform:after 				{ content:".";	display:block;	height:0;	clear:left;	visibility:hidden; }
/* Hides from IE-mac \*/
* html .cform				{ height:1%; }
.cform						{ display:block; }
/* End hide from IE-mac */
